<div class="row">
  <div class="col-lg-12">
    <h1>Detalles del horario</h1>  
    
    <div class="card">
      <table class="table">
        <tr>
          <td><b>Nombre: </b></td>
          <td><%= @horario.dia %></td>
        </tr>
        <tr>
          <td><b>Apertura: </b></td>
          <td><%= @horario.desde.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <td><b>Cierre: </b></td>
          <td><%= @horario.hasta.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <td><b>Sucursal: </b></td>
          <td><%= Sucursal.find(@horario.sucursal_id).nombre %></td>
        </tr>
      </table>
    </div>
    

    
    </div>
    <% if can? :update, Horario %>
      <%= link_to "Editar horario", edit_horario_path(@horario), class: 'btn btn-warning' %>
    <% end %>
    <% if can? :delete, Horario %>
      <%= button_to "Eliminar horario", @horario, form: { data: { turbo_confirm: "Estas seguro?" } },method: :delete, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to "Volver al listado", sucursals_path, class: 'btn btn-outline-primary' %>
</div>
