<div class="row">
  <div class="col-log-12">
    <div class="card p-5"> 
    <%= form_with(model: user) do |f| %> 

      <% if user.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

            <ul>
                <% user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
      
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :rol, style: "display: block" %>
          <%= f.select :rol, options_for_select(get_roles, user.rol), {class: 'form-control-sm'} %>
        </div>
        
        <% if current_user.rol == 'administrador' %>
          <div class="form-group">
            <%= f.label :sucursals_id, style: "display: block" %>
            <%= f.select :sucursals_id, options_for_select(Sucursal.all.collect { |x| [x.nombre, x.id] }, user.sucursals_id), {class: 'form-control-sm'} %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "Aceptar" %>
        </div>
      <% end %>
    </div>
  </div>
</div>