<div class="row">
  <div class="col-log-12">
    <div class="card p-5">

      <%= form_with(model: turn) do |form| %>
        <% if turn.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

            <ul>
              <% turn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :date, style: "display: block" %>
          <%= form.datetime_field :date %>
        </div>

        <div>
          <%= form.label :motive, style: "display: block" %>
          <%= form.text_field :motive %>
        </div>

        <div>
          <%= form.label :result, style: "display: block" %>
          <%= form.text_field :result %>
        </div>

        <div>
          <%= form.label :sucursal_id, style: "display: block" %>
          <%= form.select :sucursal_id, options_for_select(Sucursal.all.collect { |x| x.nombre}, turn.sucursal_id), class: 'form-control' %>
        </div>

        <div>
          <%= form.submit 'Guardar' %>
        </div>
      <% end %>
    </div>
  </div>
</div>