<div class="row">
  <div class="col-log-12">
    <div class="card p-5">

      <%= form_with(model: turn) do |form| %>
        <% if turn.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

            <ul>
              <% turn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :date, style: "display: block" %>
          <%= form.datetime_field :date %>
        </div>

        <div>
          <%= form.label :motive, style: "display: block" %>
          <%= form.text_field :motive %>
        </div>

        <div>
          <%= form.label :sucursal_id, style: "display: block" %>
          <%= form.select :sucursal_id, options_for_select(Sucursal.all.collect { |x| [x.nombre + " (" + Locality.find(x.locality_id).name + ")", x.id] }, turn.sucursal_id), class: 'form-control' %>
        </div>
        
        <% if current_user.rol == 'personal_bancario' %>
          <div>
            <%= form.label :result, style: "display: block" %>
            <%= form.text_field :result, class: 'form-control' %>
          </div>
        <% end %>

        <div>
          <%= form.submit 'Guardar' %>
        </div>
      <% end %>
      <% if can? :create, Turn %>         
            <% Sucursal.all.each do |suc| %>
              <br>
              <p> Horarios para <%= suc.nombre %> </p>
              <table class="table-info table-striped-columns">   

                  <thead>
                      <th>Día</th>
                      <th>Apertura</th>
                      <th>Cierre</th>
                  </thead>

                  <tbody>
                      <% Horario.horarios_suc(suc.id).each do |horario|  %>
                          <tr>
                              <td> <%= horario.dia %> </td>
                              <td> <%= horario.desde.strftime("%H:%M") %> </td>
                              <td> <%= horario.hasta.strftime("%H:%M") %> </td>
                          </tr>
                      <% end %>
                  </tbody>
      
              </table>
            <% end %>
            
          </table>
        <% end %>
    </div>
  </div>
</div>