<div id="<%= dom_id turn %>">
  <p>
    <strong>Date:</strong>
    <%= turn.date %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= turn.motive %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= turn.status %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= turn.result %>
  </p>

  <p>
    <strong>Sucursal:</strong>
    <%= turn.sucursal_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= turn.user_id %>
  </p>

</div>
