<table class="table table-bordered">

    <a href="<%= nuevo_horario_sucursal_path %>" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text"> Agregar horario</span>
    </a>

    <thead>
        <th>Día</th>
        <th>Hora</th>
    </thead>

    <tbody>
        <% @horarios.each do |horario|  %>
        <tr>
            <td> <%= horario.dia %> </td>
            <td> <%= horario.desde %> "hasta" <%= horario.hasta %> </td>
            <td> <%= link_to "Volver", sucursals_path(sucursal), class: "btn btn-primary" %> </td>
        </tr>
        <% end %>
    </tbody>
</table>